#footer {
  background-color: $gray-darker;
  padding: 30px;
}

#footer a {
  font-size: 30px;
  margin-top: 20px;
  color: #CCCCCC;
}

#footer a:hover {
  color: $orange;
  text-decoration: none;
}

#footer p {
  color: #CCCCCC;
}

