#footer {
  background-color: $gray-darker;
  padding: 30px;
  a{
  font-size: 30px;
  margin-top: 20px;
  color: #CCCCCC;
  }
  a:hover{
  color: $orange;
  text-decoration: none;
  }
  p{
  color: #CCCCCC;
  }
}


