#features  {
    padding: 10em 0;
}

#features img {
    width: 80px;
}

#features h2 {
  font-size: 20px;
  font-weight: bold;
}

.wrapper-grey {
  background-color: $gray-light;
}

.row {
  padding: 20px;
}

.header-flat form {
    margin: 20px 0;
    margin-right: 0;
    background: $gray-lighter;
    padding: 15px;
    border-radius: 3px;
}
