#features  {
    padding: 10em 0;
}

#features img {
    width: 80px;
}

#features h2 {
  font-size: 20px;
  font-weight: bold;
}

.team-avatar {
  width: 80px;
}

.wrapper-grey {
  background-color: $gray-light;
}
