<div id="footer">
  <ul class="list-inline">
    <%= link_to  "", "http://www.youtube.com", class:"fa fa-youtube"  %>
    <%= link_to  "", "http://www.instagram.com", class:"fa fa-instagram"  %>
    <%= link_to  "", "http://www.facebook.com", class:"fa fa-facebook"  %>
    <%= link_to  "", "http://www.twitter.com", class:"fa fa-twitter"  %>
  </ul>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
